.CarCard {
  display: flex;
  width: 100%;
  height:  100%;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  transition: 0.4s ease-out;
  text-decoration: none;
  color: black;
}

.CarCard .carCardLink {
  text-decoration: none;
  color: black;
  padding-bottom: 30px;
}

.CarCard:hover {
  background-color: #e7e7e7;
}

.CarCard .carCardLink h1 {
  margin-bottom: 0;
  font-size: 24px;
  margin-left: 12px;
}

.CarCard .carCardLink p {
  margin-top: 0;
  margin-left: 12px;
}

.CarCard .CarCardImgHolder {
  width: 100%;
  display: flex;
  justify-content: center;
}

.CarCard .carcardOverlay {
  height: 106px;
  width: 239px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin: 0 22px;
}

.CarCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
}

.CarCard .CarCardInfoHolder {
  width: 100%;
  display: flex;
  justify-content: center;
}

.CarCard .CarCardInfo {
  width: 269px;
  height: 24px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #90A3BF;
}

.CarCard .CarCardInfoSvg {
  display: flex;
  gap: 5px;
}

.CarCard .CarCardInfo svg {
  height: 24px;
  width: 24px;
}

.CarCard .CarCardInfo p {
  margin: 0;
}

.CarCard .recommendedPrice {
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: center;
  bottom: 0;
}

.CarCard .recommendedPriceText {
  display: flex;
  justify-content: flex-end;
}

.CarCard .recommendedPrice h2 {
  margin-left: 15px;
  font-size: 24px;
}

.CarCard .recommendedPrice p {
  height: fit-content;
  height: 30px;
  margin-top: auto;
}

.CarCard .recommendedButtonContainer {
  width: fit-content;
  width: 100%;
  padding-right: 10px;
  display: flex;
  align-items: flex-end;
}

.CarCard .recommendedButton {
  height: fit-content;
  font-size: 14px;
  padding: 16px 28.5px;
  border-radius: 8px;
  background-color: #2c81c8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 26px;
  margin-bottom: 20px;
  color: white;
  transition: 0.4s ease-out;
  font-weight: bold;
}


.CarCard .recommendedButton:hover {
  cursor: pointer;
  background-color: #266fac;
  border-radius: 20px;
}