.adminpage {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
}

.adminpage .admincontainer {
    width: 1200px;
    height: fit-content;
    min-height: 750px;
    border: 1px solid black;
    margin: 30px 0px;
    border-radius: 50px;
    background-color: whitesmoke;
    display: grid;
    justify-content: center;
}

.adminpage .admincontainer h1 {
    height: fit-content;
    text-align: center;
}

.adminpage .admincontainer .adminController {
    padding: 0;
    height: fit-content;
    text-align: center;
    height: fit-content;
    min-height: 500px;
    width: 1000px;
}

.adminpage .admincontainer .adminController .adminOperationSelection {
    padding: 0;
    height: fit-content;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 3px;
    transition: 0.5s ease-out;
}

.adminpage .admincontainer .adminController .adminOperationSelection:focus {
    border-radius: 6px;
}

.adminpage .admincontainer .adminController .adminOperationPanel {
    width: 1000px;
    height: 500px;
    margin: 20px 0px;
    border: 1px solid black;
    background-color: rgb(205, 205, 205);
}

.adminpage .admincontainer .adminController .adminOperationPanel .adminOperationCars {
    overflow-y: scroll;
    height: 100%;
}

.adminpage .adminOperationCars .adminCarList {
    padding: 0;
}

.adminpage .adminOperationCars .adminCarList li {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.adminpage .adminOperationCars .adminCarList .categories {
    width: 100%;
    text-align: center;
}

.adminpage .adminOperationCars .adminCarList li span {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    max-width: 100%;
    font-size: 17px;
    line-height: 30px;
    height: 40px;
    overflow: hidden;
}

.adminpage .adminOperationCars .adminCarList li .actions {
    width: 200px;
}

.adminpage .adminOperationCars .adminCarList li .id {
    width: 200px;
}

.adminpage .adminOperationCars .adminCarList li .category:hover {
    cursor: pointer;
    background-color: #d6d6d6;
}

.adminpage .adminOperationCars .adminCarList li .extraSpan {
    overflow:hidden;
}

.adminpage .adminOperationCars .adminCarList li .extraSpan select {
    width: 90px;
}


.adminpage .adminOperationCars .adminCarList li .adminActionCar:hover {
    cursor: pointer;
    color: gray;
}

.adminCarList .adminActionCarMenuContainer {
    position: absolute;
    display: grid;
    height: 70dvh;
    width: 70dvw;
    background-color: #b6b6b6;
    border: 1px solid black;
    border-radius: 20px;
    top: calc(50% - (70dvh/2));
    left: calc(50% - (70dvw/2));
    z-index: 1;
}

.adminCarList .adminActionCarMenuContainer .adminActionCarMenuTop {
    margin-left: 97%;
    margin-top: 10px;
    font-family: roboto;
    border: 1px solid black;
    font-size: 20px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.adminCarList .adminActionCarMenuContainer .adminActionCarMenuTop:hover {
    cursor: pointer;
}

.adminCarList .adminActionCarMenuContainer .adminActionCarMenuBottom {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 90%;
    width: 100%;
}

.adminCarList .adminActionCarMenuContainer .adminActionCarMenuBottom h1 {
    width: 90dvw;
}