.adminpage {
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: var(--main-background-color);
    align-items: center;
    font-family: "main";
    flex-direction: column;
    gap: 40px;
}

.adminpage .adminSelectContainer {
    width: 1065px;
}

.adminpage .adminSelectContainer h1 {
    font-size: 34px;
}

.adminpage .adminSelect {
    height: 60px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.adminpage .activeCategory {
    background-color: rgba(44, 129, 200, 0.55);
}

.adminpage .adminSelect .adminSelectItem {
    background-color: var(--button-backround-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    border-radius: 8px;
    transition: 0.4s ease-in-out;
}

.adminpage .adminSelect .adminSelectItem:hover {
    background-color: rgba(44, 129, 200, 0.55);
    cursor: pointer;
}

.adminpage .adminContent {
    background-color: white;
    width: 945px;
    height: 606px;
    border-radius: 8px;
    padding: 0 60px;
}

.adminpage .adminContent h2 {
    font-size: 24px;
    font-weight: bold;
}

.adminpage .adminContentBottomButton {
    width: 100%;
    display: grid;
    justify-content: center;
}

.adminpage .adminContent .adminContentBottomButton button {
    background-color: var(--button-backround-color);
    color: white;
    border-radius: 8px;
    margin-left: auto;
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
}

.adminpage .adminContent .adminContentBottomButton button:hover {
    background-color: #266fac;
    cursor: pointer;

}

.adminpage .adminContentItemContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.adminpage .adminContentItemContainer .addNewCar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    height: fit-content;
    width: 70%;
}

.adminpage .adminContentItemContainer .adminEditValues {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    height: fit-content;
    max-height: 90%;
    overflow-y: scroll;
    width: 70%;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.adminpage .adminContentItem {
    width: 100%;
    height: 471px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.adminpage .adminContentItem ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    height: fit-content;
    margin-top: 0;
    margin-bottom: 0;
}

.adminpage .adminContentItem .itemUl li:nth-child(1) {
    border-top-left-radius: 8px;
}

.adminpage .adminContentItem .itemUl li:nth-last-child(1) {
    border-top-right-radius: 8px;
}

.adminpage .adminContentItem ul li {
    height: 60px;
    width: calc(100% / 3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminpage .adminContentItem ul li:hover {
    background-color: #F3F4F6;
    cursor: pointer;
}

.adminpage .adminItemContentList {
    overflow-y: scroll;
    height: calc(471px - 60px);
}

.adminpage .adminItemContentList ul:hover {
    background-color: #F3F4F6;
    cursor: pointer;
}
.adminpage .adminStatsHolder {
    display: flex;
    gap: 13px;
    width: 1065px;
    justify-content: space-between;
}

.adminpage .adminStatsContainer {
    background-color: white;
    height: 362px;
    width: 100%;
    border-radius: 8px;
    padding: 0 20px;
}

.adminpage .adminStatsContainer h2 {
    font-size: 24px;
    font-weight: bold;
}

.adminpage .adminRevenueContainer {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 230px;
}

.adminpage .adminTop5Container {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 220px;
}

.adminpage .adminCakeDiagram {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminpage .adminCakeDiagramText {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 63px;
}

.adminpage .adminCakeDiagramText h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: auto;
}

.adminpage .adminCakeDiagramText p {
    font-size: 14px;
    margin-top: auto;
    color: #90A3BF;
}

.adminpage .adminTop5List {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.adminpage .adminTop5Item {
    display: flex;
    height: calc(220px / 5);
    justify-content: space-between;
}

.adminpage .adminTop5ItemLeft {
    display: flex;
    gap: 4px;
    align-items: center;
    color: #90A3BF;
}

.adminpage .adminTop5ItemColor {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.adminpage .adminTop5ItemRight {
    font-weight: bold;
}

.adminpage .adminPurchaseHistoryContainer {
    width: 1065px;
    background-color: white;
    border-radius: 8px;
}

.adminpage .adminSearchButtonContainer {
    position: absolute;
    left: calc(50% + 1085px/2);
}

.adminpage .adminSearchButton {
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminpage .adminSearchButton:hover {
    cursor: pointer;
    background-color: rgba(167, 167, 167, 0.9);
}

.adminpage .adminSearchButton svg {
    height: 20px;
}

.adminpage .adminSearchButtonContainer input {
    margin-top: 10px;
    background-color: #D9D9D9;
    border: none;
    font-size: 14px;
    font-family: 'main';
    border-radius: 5px;
    padding: 5px;
}


.adminpage .adminPurchaseHistoryContainer .adminTopPurchaseUl {
    width: calc(100% - 20px);
    height: 50px;
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E4E7EB;
}

.adminpage .adminPurchaseHistoryContainer .adminTopPurchaseUl li {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgba(73, 69, 79, 0.9);
}

.adminpage .adminPurchaseHistoryContainer .adminTopPurchaseUl li:hover {
    background-color: #F3F4F6;
    cursor: pointer;
}

.adminpage .adminPurchaseHistoryContainer .adminTopPurchaseList {
    width: calc(100% - 20px);
    height: 50px;
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(34, 34, 34, 0.9);
}

.adminpage .adminPurchaseHistoryContainer .adminTopPurchaseList:hover {
    background-color:#F3F4F6;
    cursor: pointer;
}

.adminpage .adminPurchaseHistoryContainer .adminTopPurchaseList li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.adminpage .adminPurchaseHistoryBottom {
    height: 77px;
    padding: 0 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adminpage .adminPurchaseHistoryPerPage {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 21px;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.8);
}

.adminpage .adminPurchaseHistoryPerPage select {
    border: none;
    background-color: #DEDEDE;
    border-radius: 3.37px;
    color: rgba(51, 51, 51, 0.8);
}

.adminpage .adminPurchaseHistoryPage {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 21px;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.8);
}

.adminpage .adminPurchaseHistoryPage select {
    border: none;
    background-color: #DEDEDE;
    border-radius: 3.37px;
    color: rgba(51, 51, 51, 0.8);
}

.adminpage .adminPurchaseHistoryPageArrow {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.8);
    margin-left: 10px;
}


.adminpage .adminPurchaseHistoryPageArrow div{
    display: flex;
}

.adminpage .adminPurchaseHistoryPageArrow div:hover{
    cursor: pointer;
}
