.carNotFound {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  color: red;
  font-family: 'main';
  background-color: white;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}

.editCar {
  width: 100%;
  height: 100%;
  font-family: 'main';
  background-color: white;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editCar .closeButton {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: rgb(212, 212, 212);
  margin-left: 95%;
  margin-top: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.editCar .closeButton:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}

.editCar .editCarInputDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.editCar .editCarInputDiv input {
  background-color: white;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  padding: 5px;
  border: 1px solid #D9D9D9;
  margin-bottom: 20px;
}

.editCar .editCarInputDiv button {
  width: fit-content;
  background-color: var(--button-backround-color);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  margin-bottom: 10px;
}

.editCar .editCarInputDiv button:hover {
  cursor: pointer;
  background-color: #266fac;
}

.editCar .editButtonHolder {
  margin-bottom: 10px;
}

.editCar .editButtonHolder button {
  width: fit-content;
  background-color: var(--button-backround-color);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
}

.editCar .editButtonHolder button:not(:disabled):hover {
  cursor: pointer;
  background-color: #266fac;
}

.editCar .editButtonHolder button:disabled {
  background-color: gray;
}