.CarPage {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-background-color);
  --arrow-size: 50px;
  font-family: "main";
}
.CarPage .bigImageHolder {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.CarPage .bigImage {
  width: 60%;
  height: 70%;
  margin-top: -90px;
}
.CarPage .bigImage .bigImageExit {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(170, 170, 170, 0.178);
  border-radius: 50%;
  font-size: 35px;
}
.CarPage .bigImage .bigImageExit:hover {
  background-color: rgba(150, 150, 150, 0.589);
  cursor: pointer;
}
.CarPage .bigImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}
.CarPage .bigImage .bigImagePrev {
  width: var(--arrow-size);
  height: var(--arrow-size);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 45px - var(--arrow-size)/2);
  margin-left: 20px;
  background-color: rgba(170, 170, 170, 0.589);
  border-radius: 50%;
  z-index: 5;
}
.CarPage .bigImage .bigImageNext {
  width: var(--arrow-size);
  height: var(--arrow-size);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 45px - var(--arrow-size)/2);
  margin-left: calc(60% - 50px - 20px);
  background-color: rgba(170, 170, 170, 0.589);
  border-radius: 50%;
}
.CarPage .bigImage .bigImagePrev svg {
  height: auto;
}
.CarPage .bigImage .bigImageNext svg {
  height: auto;
}
.CarPage .bigImage .bigImagePrev:hover {
  cursor: pointer;
  background-color: rgba(150, 150, 150, 0.589);
}
.CarPage .bigImage .bigImageNext:hover {
  cursor: pointer;
  background-color: rgba(150, 150, 150, 0.589);
}
.CarPage .carPageTop {
  margin-top: 58px;
  height: 649px;
  width: 1066px;
  border-radius: 8px;
}
.CarPage .carPageTop h1 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.CarPage .imageHolder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.CarPage .displayedImage {
  width: 796px;
  height: 596px;
  justify-content: center;
}
.CarPage .displayedImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  margin-top: 0;
}
.CarPage .imageHolder .prevImage {
  width: var(--arrow-size);
  height: var(--arrow-size);
  position: absolute;
  background-color: rgba(100, 100, 100, 0.329);
  border-radius: 50%;
  margin-left: 10px;
  margin-top: calc((-1)*(750px/2 - var(--arrow-size)));
}
.CarPage .imageHolder .nextImage {
  width: var(--arrow-size);
  height: var(--arrow-size);
  margin-left: calc(796px - var(--arrow-size) - 10px);
  position: absolute;
  display: flex;
  background-color: rgba(100, 100, 100, 0.329);
  border-radius: 50%;
  margin-top: calc((-1)*(750px/2 - var(--arrow-size)));
}
.CarPage .imageHolder .prevImage svg {
  height: auto;
}
.CarPage .imageHolder .nextImage svg {
  height: auto;
}
.CarPage .imageHolder .prevImage:hover {
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.541);
}
.CarPage .imageHolder .nextImage:hover {
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.541);
}
.CarPage .imageHolder img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.CarPage .imageHolder img:hover {
  cursor: pointer;
}
.CarPage .imageSelector {
  height: 596px;
  width: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CarPage .imageSelector .imageSelectorImage {
  height: 191px;
  width: 255px;
}
.CarPage .imageSelector img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}
.CarPage .carPageInfo {
  margin-top: 40px;
  width: 1065px;
  height: 349px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.CarPage .carPageInfo .carPageInfoText {
  background-color: white;
  width: 100%;
  height: 349px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.CarPage .carPageInfo .carPageInfoText ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 20px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CarPage .carPageInfo .carPageInfoText .extrasLi:hover {
  cursor: default;
}
.CarPage .carPageInfo .carPageInfoText .carExtras {
  position: fixed;
  height: fit-content;
  padding: 2px;
  width: 300px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
}
.CarPage .carPageInfo .carPageInfoText .carExtras ul li {
  margin: 2px 0;
}
.CarPage .carPageInfo .carPageInfoMap {
  background-color: white;
  width: 100%;
  height: 349px;
  border-radius: 8px;
}