.CarPage {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-background-color);
  --arrow-size: 50px;
  font-family: 'main';

  .bigImageHolder {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }

  .bigImage {
    width: 60%;
    height: 70%;
    margin-top: -90px;

    .bigImageExit {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(170, 170, 170, 0.178);
      border-radius: 50%;
      font-size: 35px;
    }

    .bigImageExit:hover {
      background-color: rgba(150, 150, 150, 0.589);
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 8px;
    }

    .bigImagePrev {
      width: var(--arrow-size);
      height: var(--arrow-size);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: calc(50% - 45px - var(--arrow-size)/2);
      margin-left: 20px;
      background-color: rgba(170, 170, 170, 0.589);
      border-radius: 50%;
      z-index: 5;
    }

    .bigImageNext {
      width: var(--arrow-size);
      height: var(--arrow-size);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: calc(50% - 45px - var(--arrow-size)/2);
      margin-left: calc(60% - 50px - 20px);
      background-color: rgba(170, 170, 170, 0.589);
      border-radius: 50%;

    }

    .bigImagePrev svg {
      height: auto;
    }

    .bigImageNext svg {
      height: auto;
    }

    .bigImagePrev:hover {
      cursor: pointer;
      background-color: rgba(150, 150, 150, 0.589);

    }

    .bigImageNext:hover {
      cursor: pointer;
      background-color: rgba(150, 150, 150, 0.589);

    }
  }

  .carPageTop {
    margin-top: 58px;
    height: 649px;
    width: 1066px;
    border-radius: 8px;

    h1 {
      font-size: 32px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .imageHolder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .displayedImage {
    width: 796px;
    height: 596px;
    justify-content: center;

    .displayedImage img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 8px;
      margin-top: 0;
    }
  }

  .imageHolder {
    .prevImage {
      width: var(--arrow-size);
      height: var(--arrow-size);
      position: absolute;
      background-color: rgba(100, 100, 100, 0.329);
      border-radius: 50%;
      margin-left: 10px;
      margin-top: calc((-1)*(750px/2 - var(--arrow-size)));
    }

    .nextImage {
      width: var(--arrow-size);
      height: var(--arrow-size);
      margin-left: calc(796px - var(--arrow-size) - 10px);
      position: absolute;
      display: flex;
      background-color: rgba(100, 100, 100, 0.329);
      border-radius: 50%;
      margin-top: calc((-1)*(750px/2 - var(--arrow-size)));
    }

    .prevImage svg {
      height: auto;
    }

    .nextImage svg {
      height: auto;
    }

    .prevImage:hover {
      cursor: pointer;
      background-color: rgba(100, 100, 100, 0.541);

    }

    .nextImage:hover {
      cursor: pointer;
      background-color: rgba(100, 100, 100, 0.541);

    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    img:hover {
      cursor: pointer;
    }
  }

  .imageSelector {
    height: 596px;
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .imageSelectorImage {
      height: 191px;
      width: 255px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 8px;
    }
  }

  .carPageInfo {
    margin-top: 40px;
    width: 1065px;
    height: 349px;
    display: flex;
    justify-content: space-between;
    gap: 16px;

    .carPageInfoText {
      background-color: white;
      width: 100%;
      height: 349px;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding: 20px;
        height: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .carPageInfoMap {
      background-color: white;
      width: 100%;
      height: 349px;
      border-radius: 8px;
    }
  }
}