.Home {
    background-color: #f6f7f9;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
}

.Home .homeContainer {
    width: 1250px;
    height: fit-content;
    margin-top: 50px;
    border-radius: 25px;
    display: grid;
    justify-content: center;
}

.Home .homeContainer .searchForCarContainer {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 10px;
    width: 1159px;
}

.Home .homeContainer .searchForCarContainer input {
    height: 25px;
    font-size: larger;
    width: 230px;
}

.Home .homeContainer .searchForCarContainer .searchButton {
    height: 30px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 70px;
}

.Home .homeContainer .searchForCarContainer .searchButton:hover {
    cursor: pointer;
}

.Home .homeContainer .searchContentContainer {
    position: fixed;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 10px;
    justify-content: center;
    width: 256px;
    margin-top: 10px;
    overflow-y: scroll;
    min-height: fit-content;
    max-height: 200px;
    height: 200px;
    z-index: 1;
}

.Home .homeContainer .searchContentContainer .searchContentHomeUl {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.Home .homeContainer .searchContentContainer::-webkit-scrollbar {
    width: 7px;
}

.Home .homeContainer .searchContentContainer::-webkit-scrollbar-thumb {
    background-color: rgb(51, 51, 51);
    border-radius: 6px;
}

.Home .homeContainer .searchContentContainer::-webkit-scrollbar-track {
    background-color: rgb(155, 155, 155);
    border-radius: 6px;
}

.Home .homeContainer .searchContentContainer .searchContentHomeLi {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 50px;
}

.Home .homeContainer .searchContentContainer .searchContentHomeLi:hover {
    cursor: pointer;
    background-color: lightgray;
}

.Home .homeContainer .searchContentContainer .searchContentHomeLi .searchHomeNameContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Home .homeContainer .searchContentContainer .searchContentHomeLi .searchHomeNameContainer img{
    margin-right: 10px;
    height: 100%;
    width: 60px;
    margin-left: 10px;
}

.searchHomeLocationContainer {
    display: grid;
    margin-left: 10px;
}

.searchHomeLocationContainerTop {

}

.searchHomeLocationContainerMid {
    font-size: 10px;
}

.searchHomeLocationContainerBot {
    font-size: 10px;
}

.searchButtonContainer {
    display: grid;
}

.searchButtonContainer .emptyFieldMessage {
    position:absolute;
    color: red;
    top: 170px;
}

.liSelected {
    background-color: lightgray;
}

.Home .homePopularContainer {
    display: block;
    font-family: 'Roboto';
    margin-top: 60px;
}

.Home .homePopularContent{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 390px;
    margin: 15px 0;
}

.Home .homePopularContent .recommendedLink{
    display: flex;
    justify-content: center;
    height: 100%;
    width:  100%;
    background-color: white;
    border: 1px solid gray;
}

.Home .homeBodyContainer {
    display: grid;
    gap: 0px;
    margin: 30px 0;
}

.Home .homeBodyContainer .homeBodyTitle {
    font-family: 'Roboto';
    margin-bottom: 10px;
}

.Home .homeBodyContainer .homeBodyContentContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.Home .homeBodyContainer .homeBodyContentContainer .bodyLink {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    height: 193.35px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: 0.4s ease-out;
}

.Home .homeBodyContainer .homeBodyContentContainer .bodyLink:hover {
    background-color: #e7e7e7;
}

.Home .homeBodyContainer .homeBodyContentContainer .bodyLink p {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.Home .homeBodyContainer .homeBodyContentContainer .bodyLink svg {
    height: 160px;
    margin-left: auto;
    width: fit-content;
}

.Home .homeAboutUs {
    display: block;
    font-family: 'Roboto';
    background-color: white;
    border-radius: 8px;
    margin-bottom: 60px;
    padding: 20px;
}

.Home .homeAboutUs h1 {
    font-size: 32px;
}

.Home .homeAboutUs p {
    font-size: 24px;
}

.Home .homeAboutUs div {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.Home .homeAboutUs .homeAboutUsReadMore {
    height: 56.63px;
    width: 134.11px;
    background-color: #2c81c8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: white;
    transition: 0.4s ease-out;
}

.Home .homeAboutUs .homeAboutUsReadMore:hover {
    cursor: pointer;
    border-radius: 20px;
    background-color: #266fac;
}