.Home {
    background-color: #f6f7f9;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
}

.Home .homeContainer h1 {
    font-family: 'main';
    font-size: 32px;
    margin-top: 20px;
}

.Home .homeContainer {
    width: 1250px;
    height: fit-content;
    margin-top: 50px;
    border-radius: 25px;
    display: grid;
    justify-content: center;
}

.Home .homeContainer .searchForCarContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content:end;
    height: fit-content;
    margin-top: 10px;
    max-height: 90px;
    width: 1250px;
}

.Home .homeContainer .searchDateContainer {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    justify-content:end;
}

.Home .homeContainer .locationDiv {
    display: flex;
    flex-direction: column;
    justify-content:end;
    height: 100%;
}

.Home .homeContainer .searchForCarContainer input[type="text"] {
    font-size: 30px;
    width: 370px;
    height:50px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.Home .homeContainer .searchForCarContainer input[type="date"] {
    font-size: 42px;
    width: 370px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.Home .homeContainer .searchForCarContainer .searchButton {
    padding: 15px 15px;
    margin-top: auto;
    height: 25px;
    background-color: #2c81c8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-left: 10px;
    transition: 0.4s ease-out;
    font-size: 24px;
}

.Home .homeContainer .searchForCarContainer .searchButton:hover {
    cursor: pointer;
    background-color: #266fac;
    border-radius: 20px;
}

.Home .homeContainer .searchContentContainer {
    position:absolute;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 10px;
    justify-content: center;
    width: 370px;
    overflow-y: scroll;
    min-height: fit-content;
    max-height: 200px;
    height: 200px;
    z-index: 0;
}

.Home .homeContainer .searchContentContainer .searchContentHomeUl {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.Home .homeContainer .searchContentContainer::-webkit-scrollbar {
    width: 7px;
}

.Home .homeContainer .searchContentContainer::-webkit-scrollbar-thumb {
    background-color: rgb(51, 51, 51);
    border-radius: 6px;
}

.Home .homeContainer .searchContentContainer::-webkit-scrollbar-track {
    background-color: rgb(155, 155, 155);
    border-radius: 6px;
}

.Home .homeContainer .searchContentContainer .searchContentHomeLi {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 50px;
}

.Home .homeContainer .searchContentContainer .searchContentHomeLi:hover {
    cursor: pointer;
    background-color: lightgray;
}

.Home .homeContainer .searchContentContainer .searchContentHomeLi .searchHomeNameContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Home .homeContainer .searchContentContainer .searchContentHomeLi .searchHomeNameContainer img{
    margin-right: 10px;
    height: 100%;
    width: 60px;
    margin-left: 10px;
}

.searchHomeLocationContainer {
    display: grid;
    margin-left: 10px;
}

.searchHomeLocationContainerTop {

}

.searchHomeLocationContainerMid {
    font-size: 10px;
}

.searchHomeLocationContainerBot {
    font-size: 10px;
}

.searchButtonContainer {
    display: grid;
}

.searchButtonContainer .emptyFieldMessage {
    position:absolute;
    color: red;
    top: 170px;
}

.liSelected {
    background-color: lightgray;
}

.Home .homePopularContainer {
    display: block;
    font-family: 'main';
    margin-top: 60px;
}

.Home .homePopularContainer .homePopularTitle {
    font-size: 24px;
}

.Home .homePopularContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    height: 390px;
    margin: 15px 0;
}

.Home .homePopularContent .recommendedLink {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: 100%;
    width:  100%;
    background-color: white;
    border-radius: 8px;
    transition: 0.4s ease-out;
    text-decoration: none;
    color: black;
}

.Home .homePopularContent .recommendedLink h1 {
    margin-bottom: 0;
}

.Home .homePopularContent .recommendedLink p {
    margin-top: 0;
}

.Home .homePopularContent .recommendedLink img {
    height: 150px;
    width: 265.5px;
    max-width: 265.5px;
    object-fit: fill;
    object-position: center;
    overflow: hidden;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.Home .homePopularContent .recommendedLink .recommendedInformation {
    width: 100%;
    height: 24px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 33px;
}

.Home .homePopularContent .recommendedLink .recommendedInformation .recommendedInformationSvg {
    display: flex;
    gap: 5px;
}

.Home .homePopularContent .recommendedLink .recommendedInformation svg {
    height: 24px;
    width: 24px;
}

.Home .homePopularContent .recommendedLink .recommendedInformation p {
    margin-top: 3px;
    font-size: 14px;
    color: #90A3BF;
}

.Home .homePopularContent .recommendedLink .recommendedPrice {
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 0;
}

.Home .homePopularContent .recommendedLink .recommendedPrice .recommendedPriceText {
    display: flex;
    justify-content: end;
    margin-bottom: -20px;
}

.Home .homePopularContent .recommendedLink .recommendedPrice h2 {
    height: 50px;
}

.Home .homePopularContent .recommendedLink .recommendedPrice p {
    height: fit-content;
    height: 50px;
    margin-top: auto;
}

.Home .homePopularContent .recommendedLink .recommendedPrice .recommendedButton {
    height: fit-content;
    font-size: 24px;
    padding: 4px 8px 4px 8px;
    border-radius: 8px;
    background-color: #2c81c8;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: auto;
    color: white;
    transition: 0.4s ease-out;
}

.Home .homePopularContent .recommendedLink .recommendedPrice .recommendedButton:hover {
    cursor: pointer;
    background-color: #266fac;
    border-radius: 20px;
}

.Home .homePopularContent .recommendedLink:hover {
    background-color: #e7e7e7;
}

.Home .homeBodyContainer {
    display: grid;
    gap: 0px;
    margin: 30px 0;
}

.Home .homeBodyContainer .homeBodyTitle {
    font-family: 'main';
    font-size: 14px;
    margin-bottom: 10px;
}

.Home .homeBodyContainer .homeBodyContentContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.Home .homeBodyContainer .homeBodyContentContainer .bodyLink {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    height: 193.35px;
    text-decoration: none;
    color: black;
    font-family: 'main';
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: 0.4s ease-out;
}

.Home .homeBodyContainer .homeBodyContentContainer .bodyLink:hover {
    background-color: #e7e7e7;
}

.Home .homeBodyContainer .homeBodyContentContainer .bodyLink p {
    width: fit-content;
    margin-left: auto;
    font-size: 24px;
    margin-right: auto;
    margin-top: auto;
}

.Home .homeBodyContainer .homeBodyContentContainer .bodyLink svg {
    height: 160px;
    margin-left: auto;
    width: fit-content;
}

.Home .homeAboutUs {
    display: block;
    font-family: 'main';
    background-color: white;
    border-radius: 8px;
    margin-bottom: 60px;
    padding: 20px;
}

.Home .homeAboutUs h1 {
    font-size: 32px;
}

.Home .homeAboutUs p {
    font-size: 24px;
}

.Home .homeAboutUs div {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.Home .homeAboutUs .homeAboutUsReadMore {
    height: 56.63px;
    width: 134.11px;
    background-color: #2c81c8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: white;
    transition: 0.4s ease-out;
}

.Home .homeAboutUs .homeAboutUsReadMore:hover {
    cursor: pointer;
    border-radius: 20px;
    background-color: #266fac;
}