.searchPage {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #f6f7f9;
    font-family: "main";
    padding-top: 128px;
}

.searchPage .searchCarTitle {
    position: absolute;
    top: 130px;
    left: calc(50% - 258px);
    font-size: 32px;
    font-weight: bold;
}

.searchPage .searchPageContainer{
    width: fit-content;
    height: fit-content;
    margin-top: 0;
    border-radius: 25px;
    display: grid;
}

.searchPage .searchCarContent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 28px;
    height: fit-content;
    width: 896px;
    margin-bottom: 40px;
}

.searchPage .carCardHolder {
    max-width: 280px;
    max-height: 390px;
}

.searchPage .searchCarContainer .searchCarTitle {
    font-size: 24px;
}

.searchPage .navSideBar .navSideSearch {
    width: 350px;
    height: 862px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    padding: 0 0 10px 10px;
}

.searchPage .navSideBar .navSideSearch h1 {
    color: #90A3BF;
    font-size: 12px;
}

.searchPage .priceRangeInput::-webkit-outer-spin-button,
.searchPage .priceRangeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.searchPage .navSideBar .navSideSearch .checkBox {
    display: flex;
    align-items: flex-start;
    height: fit-content;
    align-items: flex-end;
}

.searchPage .navSideBar .navSideSearch .checkBox label {
    color: black;
    height: fit-content;
}

.searchPage .navSideBar .navSideSearch .checkBox label:nth-child(3) {
    margin-left: 5px;
    color: #90A3BF;
}


.searchPage .navSideBar .navMap {
    width: 100%;
    height: 692px;
    background-color: white;
    display: flex;
}