.login-page {
    width: 100%;
    height: calc(100vh - 219.75px - 85.13px);
    display: grid;
    justify-content: center;
    background-color: #f6f7f9;
    align-items: center;
    font-family: 'main';


}

.login-page .login-container {
    width: 403px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.login-page h1 {
    font-size: 32px;
    text-align: left;
    margin-bottom: -25px;
}

.login-page p {
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-page .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-page .fullInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-page .fullInput input {
    font-size: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 10px;
}

.login-page .login-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.login-page .login-button button {
    width: 100%;
    background-color: var(--button-backround-color);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 50px;
}

.login-page .login-button button:hover {
    background-color: #1e6aa8;
    cursor: pointer;
}





