.RegisterPage {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #f6f7f9;
    justify-content: center;
    font-family: "main";
}

.RegisterPage .registerContainer h1 {
    font-size: 32px;
    text-align: center;
}

.RegisterPage .registerContainer p {
    text-align: center;
    font-size: 14px;
    color: red;
}

.RegisterPage .registerContainer .registerForm {
    width: 525px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.RegisterPage .registerContainer .registerForm .halfInput {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.RegisterPage .registerContainer .registerForm .halfInput div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.RegisterPage .registerContainer .registerForm .halfInput input {
    font-size: 24px;
    width: calc(100% - 20px);
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 10px;
}

.RegisterPage .registerContainer .registerForm .fullInput {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.RegisterPage .registerContainer .registerForm .fullInput input {
    font-size: 24px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
}

.RegisterPage .registerContainer .registerForm .fullInput select {
    padding: 10px;
    border: 1px solid #D9D9D9;
    font-size: 24px;
    border-radius: 8px;
}

.RegisterPage .registerContainer .registerForm label {
    font-size: 14px;
}

.RegisterPage .registerContainer .registerForm .phoneDiv {
    display: flex;
}

.RegisterPage .registerContainer .registerForm .phoneDiv input {
    width: 100%;
    padding-left: 96px;
}

.RegisterPage .registerContainer .registerForm .phoneDiv select {
    position: absolute;
    padding: 8px 8px 8px 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    font-size: 24px;
    margin-top: 2px;
    margin-left: 2px;
}

.RegisterPage .registerContainer .registerForm .buttonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.RegisterPage .registerContainer .registerForm .buttonDiv button {
    width: fit-content;
    background-color: var(--button-backround-color);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 50px;
}

.RegisterPage .registerContainer .registerForm .buttonDiv button:hover {
    background-color: #1e6aa8;
    cursor: pointer;
}

.RegisterPage .termsContainer {
    display: flex;
    height: 40px;
    align-items: center;
    margin-top: 10px;
}

.RegisterPage .termsContainer p {
    color: black;
}

.RegisterPage .termsContainerRegister {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-right: 10px;
}

.RegisterPage .termsContainerRegister input {
    display: none;
}

.RegisterPage .termsContainerRegister input:checked~.termsCheckmark {
    background-color: #2196F3;
}

.RegisterPage .termsContainerRegister input:checked~.termsCheckmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border-color: #fff0 white white #fff0;
    border-width: 0 0.15em 0.15em 0;
    border-radius: 0em;
    transform: rotate(45deg);
}

.RegisterPage .termsCheckmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #2196F300;
    border-radius: 0.25em;
    transition: all 0.25s;
}

.RegisterPage .termsCheckmark:after {
    content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 0.1em solid black;
    left: 0;
    top: 0;
    width: 1.05em;
    height: 1.05em;
    border-radius: 0.25em;
    transition: all 0.25s, border-width 0.1s;
}