.Footer {
  background-color: #f6f7f9;
  display: flex;
  gap: 120px;
  justify-content: center;
  height: fit-content;
  width: 100%;
  font-family: 'main';
  font-size: 14px;
  padding: 20px 0;
}

.Footer .footerContainer {
  display: flex;
  width: 1250px;
  gap: inherit;
  justify-content: center;
}

.Footer .footerLogo {
  height: 74px;
}

.Footer .footerLink {
  color: #000;
  text-decoration: none;
}

.Footer .footerNewsletter {
  font-size: 14px;
  width: 270px;
}

.Footer .footerNewsletter .footerNewsletterInputContainer {
  display: flex;
  align-items: center;
}

.Footer .footerNewsletter .footerNewsletterInputContainer .footerNewsletterButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -85px;
  height: 34px;
  width: 87px;
  background-color: #2c81c8;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 8px;
  color: white;
  transition: 0.4s ease-in-out;
}

.Footer .footerNewsletter .footerNewsletterInputContainer .footerNewsletterButton:hover {
  cursor: pointer;
  border-radius: 20px;
  background-color: #266fac;
}

.Footer .footerNewsletter .footerNewsletterInputContainer input {
  background-color: #D9D9D9;
  border: none;
  height: 38px;
  width: 155px;
  border-radius: 8px;
}

.Footer .footerNewsletter .footerNewsletterInputContainer input[type="text"] {
  padding-left: 10px;
  padding-right: 90px;
}