.Header {
    height: 85.13px;
    width: 100%;
    --main-border: 0px 0px 6px 0px #000000;
    --main-background-color: white;
		font-family: 'main';
}

.headerContainer {
    z-index: 10;
    display: flex;
    position:fixed;
    justify-content: center;
    width: 100%;
    height: 85.13px;
    box-shadow: var(--main-border);
    background-color: var(--main-background-color);
}

.headerContainer .headerContent {
    display: flex;
    position:fixed;
		align-items: center;
    width: 1159px;
    height: 85.13px;
}

.Header .headerLinks {
    display: flex;
    justify-content: center;
    width: 100%;
		font-size: 24px;
}

.Header .headerLinks .headerLink {
    margin: 15.5px 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: 'main';
    position: relative;
}

.Header .headerLinks .headerLinkActive {
    border-bottom: 2px solid #000000;
    margin-bottom: auto;
}

.Header .headerLinks .headerLink::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 0;
    border-bottom: 2px solid #000000;
    transition: width 0.3s ease;
}
.Header .headerLinks .headerLink:hover::before {
    width: 100%;
}

.Header .headerLogo {
    height: 74px;
}

.Header .logoContainer {
    position: absolute;
		top: calc(50% - 37px);
    left: 0;
    display: flex;
    color: black;
    font-size: 24px;
    font-family: 'main';
    font-weight: bold;
}

.Header .headerContent .headerLogin {
    position: absolute;
		display: flex;
		justify-content: flex-start;
    right: 0;
    top: calc(50% - 24px);
		height: 56px;
		width: 56px;
		border-radius: 50%;
}